<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hot Durger's</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/styles.css">
    </head>
    <body>
        <div id="app">
            <!-- HEADER -->
            <header>
                <nav id="navbar" class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <img src="./assets/images/l1.png" alt="logo">
                            <span>Hot Durger's</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#hamburguers">Hamburguesas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#hotdogs">Perros Calientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a @click="cartClick" class="nav-link text-highlightedd" href="#" data-bs-toggle="modal" data-bs-target="#carrito">Carrito <i class="fas fa-shopping-cart"></i> <strong v-text="fcartN" class="text-light"></strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- HEADER -->

            <!-- MAIN -->
            <section id="main">
                <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./assets/images/hb1.jpg" class="d-block w-100" alt="js">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/hb4.jpg" class="d-block w-100" alt="vuejs">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/hd1.jpg" class="d-block w-100" alt="nodejs">
                        </div>
                        <div class="carousel-item">
                            <img src="./assets/images/hd4.jpg" class="d-block w-100" alt="nodejs">
                        </div>
                        <div class="overlay">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col md-6 offset-md-6 text-center text-md-start">
                                        <h1>Las mejores hamburguesas y perros calientes</h1>
                                        <p class="d-none d-md-block">
                                            Productos realizados de manera 100% artesanal, con carne de la mas alta elección.
                                            Date el gusto y consiente a tu paladar.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- floating cart button -->
            <section id="floating-cart-btn">
                <div class="btn-container fixed-bottom">
                    <div class="cart-float-btn">
                        <a @click="cartClick" href="#" class="floating-cart text-center" data-bs-toggle="modal" data-bs-target="#carrito"><i class="fas fa-shopping-cart"></i>  <strong v-text="fcartN" class="text-danger"></strong></a>
                    </div>
                </div>
            </section>
            <!-- /floating cart button -->

            <!-- products -->
            <section id="products" class="mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col text-center text-uppercase">
                            <h1 class="menu-title" id="hamburguers">Carta Hamburguesas</h1>
                        </div>
                    </div>
                    <!-- Products here -->
                    <!-- hamburgers -->
                    <div class="row" v-if="hb.length">
                        <div class="col-md-6 col-lg-3 mt-3 mb-4" v-for="(item, index) in hb" :key="item.id">
                            <div class="card" >
                                <img :src="item.img" class="card-img-top" alt="hb1" data-bs-toggle="modal" :data-bs-target="item.modalw">
                                <div class="card-body">
                                    <h5 class="card-title" v-text="item.name">Hamburguesa Doble</h5>
                                    <p class="card-text"><strong  v-text="item.desc"></strong></p>
                                    <h4 class="text-center mb-3"><strong>$ </strong> <span><strong v-text="item.price"></strong></span></h4>
                                    <div class="row">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-dark"><button @click="minusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-minus"></i></button></span>
                                            <input type="number" min="0" max="20" class="form-control" placeholder="Cantidad" v-model.number="item.order_amount">
                                            <span class="input-group-text bg-dark"><button @click="plusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-plus"></i></button></span>
                                        </div>
                                        <div class="btnadd"><button @click="addToCart(item)" type="button" class="col-12 btn btn-dark">Agregar</button></div>
                                    </div>
                                </div>
                            </div>
                            <!-- modals hamburguers -->
                            <div id="modals">
                                <div  class="modal fade" :id="item.modal_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="exampleModalLabel" v-text="item.name"></h5>
                                                <button @click="closemodal(item)" type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <img :src="item.img" class="card-img-top" alt="hd4">
                                                <h4>Descripción:</h4>
                                                <p v-text="item.descmodal"></p>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text bg-dark"><button @click="minusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-minus"></i></button></span>
                                                    <input type="number" min="0" max="20" class="form-control" placeholder="Cantidad" v-model.number="item.order_amount">
                                                    <span class="input-group-text bg-dark"><button @click="plusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-plus"></i></button></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button @click="addToCart(item)" type="button"><strong>AGREGRAR</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /modals hamburguers -->
                        </div>
                    </div>
                    <!-- /hamburgers -->
                    
                    <hr>
                    <div class="row">
                        <div class="col text-center text-uppercase">
                            <h1 class="menu-title" id="hotdogs">Carta Perros Calientes</h1>
                        </div>
                    </div>

                    <!-- hotdogs here -->
                    <div class="row" v-if="hd.length">
                        <div class="col-md-6 col-lg-3 mt-3 mb-4" v-for="(item, index) in hd" :key="item.id">
                            <div class="card" >
                                <img :src="item.img" class="card-img-top" alt="hd1" data-bs-toggle="modal" :data-bs-target="item.modalw">
                                <div class="card-body">
                                    <h5 class="card-title" v-text="item.name">Hamburguesa Doble</h5>
                                    <p class="card-text"><strong  v-text="item.desc"></strong></p>
                                    <h4 class="text-center mb-3"><strong>$ </strong> <span><strong v-text="item.price"></strong></span></h4>
                                    <div class="row">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-dark"><button @click="minusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-minus"></i></button></span>
                                            <input type="number" min="0" max="20" class="form-control" placeholder="Cantidad" v-model.number="item.order_amount">
                                            <span class="input-group-text bg-dark"><button @click="plusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-plus"></i></button></span>
                                        </div>
                                        <div class="btnadd"><button @click="addToCart(item)" type="button" class="col-12 btn btn-dark">Agregar</button></div>
                                    </div>
                                </div>
                            </div>
                            <!-- modals hotdogs -->
                            <div id="modals">
                                <div class="modal fade" :id="item.modal_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" v-for="(item, index) in hd" :key="item.idm">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="exampleModalLabel" v-text="item.name"></h5>
                                                <button @click="closemodal(item)" type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <img :src="item.img" class="card-img-top" alt="hd4">
                                                <h4>Descripción:</h4>
                                                <p v-text="item.descmodal"></p>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text bg-dark"><button @click="minusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-minus"></i></button></span>
                                                    <input type="number" min="0" max="20" class="form-control" placeholder="Cantidad" v-model.number="item.order_amount">
                                                    <span class="input-group-text bg-dark"><button @click="plusbtn(item)" type="button" class="btn btn-dark"><i class="fas fa-plus"></i></button></span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button @click="addToCart(item)" type="button" class="agregarc"><strong>AGREGAR</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /modals hotdogs-->
                        </div>
                    </div>
                    <!-- /hotdogs here -->
                </div>
            </section>
            <!-- /products -->
                        
            <!-- Modals -->
            <section id="modals" v-if="hb.length && hb.length"> 
                
                <!--Modal login-->
                <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <button @click="closelogin" type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                                <button @click="logout" type="button" class="btn btn-dark logout" v-if="modaltrigger === 1">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
                            </div>
                            <div class="modal-body" v-if="modaltrigger === 0">
                                <div class="sigIn-formulario text-center" >
                                    <h1 class="sigIn-title mb-3">Hot Durger's</h1>
                                    <img src="assets/images/l1.png" alt="Icono" class="sigIn-Icon ">
                                    <div class="form-floating mb-4">
                                        <input v-model="userinput" @keyup.enter="login" type="text"  class="form-control" id="floatingUser" required>
                                        <label for="floatingUser">USUARIO</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input v-model="passinput" @keyup.enter="login" type="password" maxlength="8" minlength="8" class="form-control" id="floatingPassword" required>
                                        <label for="floatingPassword">CONTRASEÑA</label>
                                        <span v-if="logspan === 1"><strong class="text-danger">USUARIO Y O CONTRASEÑA INCORRECTOS</strong></span>
                                        <span v-if="logspan === 2"><strong class="text-danger">POR FAVOR INGRESE UN USUARIO Y CONTRASEÑA</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body" v-if="modaltrigger === 1">
                                <h5 class="text-center"><strong>Seleccione su cargo</strong></h5>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 mt-3 mb-4">
                                        <div class="card" data-bs-toggle="modal" data-bs-target="#chef-table">
                                            <img src="./assets/images/chef.jpg" class="card-img-top" alt="hb4">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">CHEF</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 mt-3 mb-4">
                                        <div class="card" data-bs-toggle="modal" data-bs-target="#waiter-table">
                                            <img src="./assets/images/mesero.jpg" class="card-img-top" alt="hb4">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">MESERO</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button @click="login" type="button" v-if="modaltrigger === 0"><strong>INGRESAR</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal login -->

                <!-- Modal Carrito -->
                <div class="modal fade" id="carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Carrito</h5>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <h4>Tu Pedido:</h4>
                                <div class="table-responsive">
                                    <table class="table table-dark table-hover">
                                        <thead class="text-center">
                                            <tr>
                                                <th>Producto</th>
                                                <th>Nombre</th>
                                                <th>cantidad</th>
                                                <th>Precio</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center"  v-if="cart.length">
                                            <tr v-for="(item, index) in cart">
                                                <td><img :src="item.img" alt="product"></td>
                                                <td v-text="item.prod"></td>
                                                <td v-text="item.qty"></td>
                                                <td v-text="item.price"></td>
                                                <td><button @click="delFromCart(index)" class="btn btn-danger"><i class="fas fa-backspace"></i></button></td>   
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <td colspan="5" class="text-center">No hay pedidos agregados</td>
                                        </tbody>
                                    </table>
                                </div>
                                <h4 class="text-center"><strong>TOTAL:</strong> <span><strong v-text="totalCart">$0.000</strong></span></h4>
                            </div>
                            <div class="modal-footer">
                                <button @click="sendorder" type="button"><strong>Ir a pagar</strong></button>
                                <button @click="cancel" type="button" class="cancel" v-if="cart.length > 0"><strong>Cancelar</strong></button>
                                <button type="button" class="cancel" data-bs-dismiss="modal" aria-label="Close" v-else><strong>Cancelar</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Modal Carrito -->

                <!-- modal tabla chef -->
                <div class="modal fade" id="chef-table" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" v-if="modaltrigger === 1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Tabla-Chef</h5>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <h4>Pedidos:</h4>
                                <div class="table-responsive">
                                    <table class="table table-dark">
                                        <thead class="text-center">
                                        <tr>
                                            <th>Pedido #</th>
                                            <th>Pedido</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center"  v-if="cheftable.length">
                                            <tr v-for="(item, index) in cheftable" :key="item.id">
                                                <td class="pt-5" v-text="item.id"></td>
                                                <td>
                                                    <table class="table table-dark">
                                                        <thead>
                                                            <tr>
                                                                <th>Producto</th>
                                                                <th>Cantidad</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-ceter">
                                                            <tr v-for="(order, index) in item.order">
                                                                <td v-text="order.prod"></td>
                                                                <td v-text="order.qty"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="pt-5" v-if="item.status === 'Completado'"><span v-text="item.status" class="text-success"></span></td>
                                                <td class="pt-5" v-else><span><strong v-text="item.status" class="text-danger"></strong></span></td>
                                                <td class="pt-5"><button class="btn btn-success">OK <i class="fas fa-check"></i></button></td>   
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <td colspan="4" class="text-center">No hay pedidos agregados</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="back" data-bs-toggle="modal" data-bs-target="#login"><strong> Regresar </strong></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /modal tabla chef -->

                <!-- modal tabla mesero -->
                <div class="modal fade" id="waiter-table" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" v-if="modaltrigger === 1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title text-center" id="exampleModalLabel">Tabla-Mesero</h5>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <h4>Pedidos:</h4>
                                <div class="table-responsive">
                                    <table class="table table-dark table-hover">
                                        <thead class="text-center">
                                        <tr>
                                            <th>Pedido</th>
                                            <th>Cantidad</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center"  v-if="waitertable.length">
                                            <tr v-for="(item, index) in waitertable" :key="item.id">
                                                <td v-text="item.order"></td>
                                                <td v-text="item.qty"></td>
                                                <td v-if="item.status === 'Completado'"><span v-text="item.status" class="text-success"></span></td>
                                                <td v-else><span><strong v-text="item.status" class="text-danger"></strong></span></td>
                                                <td><button class="btn btn-success">OK <i class="fas fa-check"></i></button></td>   
                                            </tr>
                                        </tbody>
                                        <tbody v-else>
                                            <td colspan="4" class="text-center">No hay pedidos agregados</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="back" data-bs-toggle="modal" data-bs-target="#login"><strong> Regresar </strong></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /modal tabla mesero -->

            </section>
            <!-- /Modals -->


            <!-- FOOTER -->
            <footer id="footer" class="pb-4 pt-4">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 col-lg col-md">
                            <a href="#">Preguntas Frecuentes</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Contáctanos</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Novedades</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Privacidad</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <a href="#">Productos</a>
                        </div>
                        <div class="col-12 col-lg col-md">
                            <h6 class="text-center mt-2 mb-2">
                                Siguenos: 
                                <a href="#"><i class="fab fa-instagram-square"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </h6>
                        </div>
                    </div>
                    <h6 class="text-center mt-4">© Copyright - All rights reserved</h6>
                    <h6 class="text-center mt-4">HotDurger's</h6>
                </div>
            </footer>
            <!-- /FOOTER -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</html>